
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jeju Myeongjo';
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  color:#303030;
}

.calendar {

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#year, #month{
  font-size: 30px;
  font-family: 'bahnschrift SemiCondensed';
  padding-right:15px;
  float:left;
}
#year{
  font-size:25px;
  opacity: 0.8;
}

.nav {
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}

.nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 34px;
  background-color: transparent;
  cursor: pointer;
}

.go-today {
  width: 75px;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}

.days {
  display: flex;
  margin: 25px 0 0px;
  border-bottom: 1px solid #353535;
  height: 25px;
  margin-bottom: 10px;
}

.day {
  width: calc(100% / 7);
  text-align: center;
  font-size:18px;

}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  font-size:13px;
}

.date {
  width: calc(100% / 7);
  padding-right: 2px;
}
