*{
  margin:0;
  padding: 0;
  font-family: 'NanumSquare', sans-serif;
  -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
/*드래그 방지*/
}
