@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);﻿


div{
  display:block;
}

a{
  color: inherit;
  text-decoration:none;
}
img{
  vertical-align: middle;
}
/*왼쪽*/
#leftside{
  width:300px; height:100%;
  background:#F6F6F6;
  position:fixed;
  border:0px;
  padding:0px;
  text-align:center;
  font-family: 'NanumSquare', sans-serif;
  font-weight: 400;
  letter-spacing: -0.8px;
  -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
/*드래그 방지*/
}

#logo{ margin-top: 25px; margin-left:8px; }  /**/
#profile{ margin-top:10px; margin-bottom:5px; text-align:center;}

.primage{
  border-radius: 70px;
  -moz-border-radius: 70px;
  -khtml-border-radius: 70px;
  -webkit-border-radius: 70px;
}

#menu{line-height: 1.7;}
.menu{line-height: 2.5; opacity:0.85;}


/*내용*/
#container{
  min-height: 600px;
  padding-left: 310px;
  background-color:#ffffff;
}


/*밑에 재생바*/
#player{
  right:0; bottom:0; left:0;
  position:fixed;
  height:90px;
  background-image: url("https://image.bugsm.co.kr/album/images/500/201932/20193267.jpg");
  color: inherit;
  background-position:center;
  background-size:100%;
  -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
/*드래그 방지*/
}

/*배경 블러처리*/
#playerBlur{
  right:0; bottom:0; left:0;
  position:fixed;
  height:90px;
  background-color: rgba(220,220,220,.45);
  -webkit-backdrop-filter:blur(100px) saturate(70%);
  -ms-backdrop-filter:blur(100px) saturate(70%);
  -moz-backdrop-filter:blur(100px) saturate(70%);
  backdrop-filter:blur(100px) saturate(70%) ;
}

/*앨범아트 부분*/
#albumartarea{
  padding-left:20px; width:92px; height:90px;
  float:left;
}

#p_albumart{
  margin:10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  float:left;


}
/*곡정보 부분*/
#songarea{
  width:250px;
  height:90px;
  padding:10px;
  padding-top:26px;
  float:left;
  opacity:0.8;
}

#songname{font-size:18px; font-weight: 600; padding-bottom:4px; color:#111111;}
#artistname{font-size:16px; font-weight:300; color:#222222;}



/*재생 슬라이드*/
#playing_bar{

  position:absolute;
  left:382px;
  right:560px;

  height:90px;

  padding-top:26px;
  float:right;
}
/*재생바 관련*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;

}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  border-radius: 7px;
  background: #847C7F;
  border: 0px;
}
input[type=range]::-webkit-slider-thumb {
  border: 0px;
  height: 20px;
  width: 20px;
  border-radius: 70px;
  background: #fafafa;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
  filter: drop-shadow(0px 0px 4px #847C7F);
  -webkit-filter: drop-shadow(0px 0px 4px  #847C7F);
}

#bar{
  width:90%;
}
#time{
  width:90%;
  height:30px;
  opacity:0.8;
}
#ct{ /*현재 진행시간*/
  width: 40px;
  height:30px;
  float:left;
  padding: 3px;
}
#d{ /*총 재생시간*/
  width:40px;
  height:30px;
  float:right;
  text-align:right;
  padding: 3px;
}





/*옵션-반복,셔플*/
#option{
  width:150px;
  height:90px;
  padding:5px;
  padding-top:20px;
  text-align: center;
  float:right;
}
.repeat{
  padding-right: 5px;
  float:left;
  opacity:0.8;
}
.shuffle{
  float:left;
  opacity: 0.4;
}
#volume{
  width:50px;
  height:90px;
  padding-top:20px;
  text-align: center;
  float:right;
  opacity: 0.8;
}
#controller{
    width:250px;
    height:90px;
    text-align: center;
    float:right;
}
.goforward{

}
.playbutton{

}
.gobackward{

}
/*플레이리스트*/
#playlist{
  width:100px;
  height:90px;
  padding-top:15px;
  text-align: center;
  float:right;
  opacity:0.8;
}
