#line{
  padding:10px;
  position:fixed;
  left:600px; bottom:370px;
  width:500px;
}
#tag_{
  padding-top:10px;
  padding-left:10px;
  position:fixed;
  height:22px;
  left:590px; bottom:385px;
  width:460px;
  font-family: 'Jeju Myeongjo'
}
#article_{
  line-height: 1.8em;
    color: #424242;
    position:fixed;
    height:325px;
  left:590px; bottom:45px;
    width:460px;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    font-family: 'Jeju Myeongjo'
}
#modal {
  position:relative;
  width:100%;
  height:100%;
  z-index:1;
}


#modal .modal_content {
    width:400px;
  top:50%;
  left:50%;
  margin-left:380px;
  margin-top:45px;
  padding:20px 10px;
  background:#efefef;
  border-radius: 6px;
  unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}
#songss{
  width:400px;
  height: 420px;
  overflow-y: auto;
  overflow-x:hidden;
}
#songss::-webkit-scrollbar {
    width: 10px;
  }
#songss::-webkit-scrollbar-thumb {
  padding-top:10px;
    background-color: #dfdfdf;
    border-radius: 10px;
  }
#songss::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
    border-radius: 10px;
  }

#modal .modal_layer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:-1;
}
.song{
  padding-top:7px;
  width:370px;
  height:70px;
  padding-left:14px
}
.songname{
  height:14px;
  width:270px;
  overflow:hidden;
  font-weight:600;
  font-size:14px;
  opacity:0.8;
}
.artistname{
  padding-top:3.8px;
  color: #707070;
  opacity:0.7;
  font-size:12px;
}
@font-face {

  font-family: myfontfamily;

  src: local('Noto Sans JP');

  unicode-range: U+4E00–9FBF, U+3040–309F, U+30A0–30FF;

}
