
#line{
  padding:10px;
  position:fixed;
  left:600px; bottom:370px;
  width:500px;
}
#tag_{
  padding-top:10px;
  padding-left:10px;
  position:fixed;
  height:22px;
  left:600px; bottom:385px;
  width:500px;
}
#article_{
  line-height: 1.8em;
  color: #424242;
  position:fixed;
  height:325px;
left:600px; bottom:45px;
  width:500px;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
}
